---

---
// Customization Variables

$accent: #FF0F00;

$max-width: 740px;
$med-width: 600px;
$small-width: 480px;



html, html[data-theme="light"] {
    --background-color: white;
    --text-color: black;
    --navbar-color: #272727;
}

html[data-theme="dark"] {
    --background-color: black;
    --text-color: #f9f9f9;
    --navbar-color: #f9f9f9;
}


@media (prefers-color-scheme: dark) {
    html, html[data-theme="dark"] {
        --background-color: black;
        --text-color: #f9f9f9;
        --navbar-color: #f9f9f9;
    }

    html[data-theme="light"] {
        --background-color: white;
        --text-color: black;
        --navbar-color: #272727;
  } 
}


body {
    margin: 0;
    font-family: "Inconsolata";
    min-height: 100%;
    background-color: var(--background-color);
    color: var(--text-color);
}
a {
    text-decoration: none;
    color: $accent;
}
a:hover {
    text-decoration: underline;
}
hr {
    margin: 5px;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.pull-left {
    float: left;
}
.pull-right {
    float: right;
}
.container {
    max-width: $max-width;
    margin: auto;
}

// Navbar

.navbar {
    ul {
        display: inline-block;
        margin: 0;
        padding: 5px 0 5px 0;
        margin-left: 20px;
    }
    li {
        list-style-type: none;
        margin: 0 5px 0 10px;
    }

    padding: 30px 0 20px 0;
    .site-title{
        font-size: 32px;
        color: var(--navbar-color);
        display: inline-block;
    }
}

// index
.post-card{
    margin-top:1em;
    margin-bottom:1em;
    .title{
        max-width: 500px;
        color: var(--navbar-color);
        display: inline-block;
        font-size: 30px;
    }
    .details{
        @extend .pull-right;
        text-align: right;
        margin-left: 20px;
        font-size: 15px;
    }
    .subtitle{
        max-width: 500px;
    }
}

.no-post{
    text-align: center;
    margin-top: 10px;
    font-style: italic;
}

// pages

.page-title{
    text-align: center;
    font-size: xx-large;
    font-weight: bold;
    line-height: 2;
}
.page-subtitle{
    text-align: center;
    margin-bottom: 1em;
}

// footer

.footer{
    a {
        color:var(--text-color)
    }
    text-align: center;
    font-size: small;
    margin-top: 2em;
    margin-bottom: 1em;
}

// Mobile

@media (max-width: 800px) {
    .container {
        max-width: $med-width;
        transition: 0.3s ease all;
    }
}

@media (max-width: 650px) {
    .container {
        max-width: 83%;
    }
    .navbar{
        ul{
            margin-top: 5px;
        }
    }
}

@media (max-width: 500px) {
	.navbar {
		text-align: center;
        padding: 50px 0px 0px 0px;
        ul{
            padding: 10px 0 10px 0;
            margin: 0;
            display: block;
            float: none;
            text-align: center;
            width: 100%;
        }
        li{
            margin: 0;
        }
        .pull-left{
            float: none;
        }
        .site-title{
            width: 100%;
            float: none;
        }
	}
}

//  typography

.content {
    line-height: 1.5;
    h1, h2, h3, h4 {
        margin-block-start: 2em !important;
        margin-block-end: 0em !important;
    }
    h1:after, h2:after, h3:after, h4:after {
        content: '';
        display: block;
        width: 50%;
        border-top: 0.5px solid rgba(0, 0, 0, 0.1);
        border-bottom: 0.5px solid rgba(50, 50, 50, 0.3);
    }

    ol {
        counter-reset: list;
    }
    ol > li {
        list-style-position: none;
        position: relative;
        list-style: none;
        margin-top: 5px;
        margin-bottom: 5px;
    }
    ul > li {
        margin: 5px 0 5px 0;
    }
    ul {
        padding: 0 20px 0 20px;;
    }
    ol {
        padding: 0 30px 0 30px;
    }
    ol > li:before {
        content: "[" counter(list, decimal) "] ";
        counter-increment: list;
        position: absolute;
        left: -30px;
    }
    blockquote {
        border-left: 5px solid #333333;
        margin: 5px 0;
        padding: 0px 8px;
        font-style: italic;
    }
    .profile-picture {
        width: 15%;
        margin: 5px 5px 5px 5px;
        float: right;
        p & {
            padding: 0;
            margin: 0;
        }
        @media (max-width: $small-width) {
            img {
                margin-top: -5px;
            }
        }
    }
    img {
        text-align: center;
        margin: 10px 10px 10px 10px;
        display: block;
        margin-left: auto;
        margin-right: auto;
        max-width: 100%;
        box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
        max-height: 60vh;
        margin-top: 40px;
        margin-bottom: 40px;
    }

    .color-red {
        color: #FF0F00;
    }
    .color-orange {
        color: #eb9800;
    }
    .color-green {
        color:#00eb1d;
    }
    .color-blue{
        color: #0062ff;
    }
    .highlight-red {
        background-color: #ffaaaa;
    }
    .highlight-orange {
        background-color: #ffd486;
    }
    .highlight-green {
        background-color: #aaffad;
    }
    .highlight-blue {
        background-color: #d8e7ff;
    }
}

table {
    margin: 15px 0;
    border-collapse: collapse;
    width: 100%;
    padding: 0;
}
table tr {
    border-top: 1px solid #cccccc;
    background-color: white;
    margin: 0;
    padding: 0;
}
table tr:nth-child(2n) {
    background-color: #f8f8f8;
}
table tr th {
    font-weight: bold;
    border: 1px solid #cccccc;
    text-align: left;
    margin: 0;
    padding: 6px 13px;
}
table tr td {
    border: 1px solid #cccccc;
    text-align: left;
    margin: 0;
    padding: 6px 13px;
}
table tr th :first-child, table tr td :first-child {
    margin: 0;
}
table tr th :last-child, table tr td :last-child {
    margin: 0;
}

pre {
    max-width: 100%;
    background-color: #fff7f6;
    border-radius: 5px;
    padding: 10px;
    overflow-x: auto;
    border: none;
    color: black;
}

.highlight .hll { background-color: #ffffcc }
.highlight .c { color: #8f5902; font-style: italic } /* Comment */
.highlight .err { color: #a40000; border: 1px solid #ef2929 } /* Error */
.highlight .g { color: #000000 } /* Generic */
.highlight .k { color: #204a87; font-weight: bold } /* Keyword */
.highlight .l { color: #000000 } /* Literal */
.highlight .n { color: #000000 } /* Name */
.highlight .o { color: #ce5c00; font-weight: bold } /* Operator */
.highlight .x { color: #000000 } /* Other */
.highlight .p { color: #000000; font-weight: bold } /* Punctuation */
.highlight .cm { color: #8f5902; font-style: italic } /* Comment.Multiline */
.highlight .cp { color: #8f5902; font-style: italic } /* Comment.Preproc */
.highlight .c1 { color: #8f5902; font-style: italic } /* Comment.Single */
.highlight .cs { color: #8f5902; font-style: italic } /* Comment.Special */
.highlight .gd { color: #a40000 } /* Generic.Deleted */
.highlight .ge { color: #000000; font-style: italic } /* Generic.Emph */
.highlight .gr { color: #ef2929 } /* Generic.Error */
.highlight .gh { color: #000080; font-weight: bold } /* Generic.Heading */
.highlight .gi { color: #00A000 } /* Generic.Inserted */
.highlight .go { color: #000000; font-style: italic } /* Generic.Output */
.highlight .gp { color: #8f5902 } /* Generic.Prompt */
.highlight .gs { color: #000000; font-weight: bold } /* Generic.Strong */
.highlight .gu { color: #800080; font-weight: bold } /* Generic.Subheading */
.highlight .gt { color: #a40000; font-weight: bold } /* Generic.Traceback */
.highlight .kc { color: #204a87; font-weight: bold } /* Keyword.Constant */
.highlight .kd { color: #204a87; font-weight: bold } /* Keyword.Declaration */
.highlight .kn { color: #204a87; font-weight: bold } /* Keyword.Namespace */
.highlight .kp { color: #204a87; font-weight: bold } /* Keyword.Pseudo */
.highlight .kr { color: #204a87; font-weight: bold } /* Keyword.Reserved */
.highlight .kt { color: #204a87; font-weight: bold } /* Keyword.Type */
.highlight .ld { color: #000000 } /* Literal.Date */
.highlight .m { color: #0000cf; font-weight: bold } /* Literal.Number */
.highlight .s { color: #4e9a06 } /* Literal.String */
.highlight .na { color: #c4a000 } /* Name.Attribute */
.highlight .nb { color: #204a87 } /* Name.Builtin */
.highlight .nc { color: #000000 } /* Name.Class */
.highlight .no { color: #000000 } /* Name.Constant */
.highlight .nd { color: #5c35cc; font-weight: bold } /* Name.Decorator */
.highlight .ni { color: #ce5c00 } /* Name.Entity */
.highlight .ne { color: #cc0000; font-weight: bold } /* Name.Exception */
.highlight .nf { color: #000000 } /* Name.Function */
.highlight .nl { color: #f57900 } /* Name.Label */
.highlight .nn { color: #000000 } /* Name.Namespace */
.highlight .nx { color: #000000 } /* Name.Other */
.highlight .py { color: #000000 } /* Name.Property */
.highlight .nt { color: #204a87; font-weight: bold } /* Name.Tag */
.highlight .nv { color: #000000 } /* Name.Variable */
.highlight .ow { color: #204a87; font-weight: bold } /* Operator.Word */
.highlight .w { color: #f8f8f8; text-decoration: underline } /* Text.Whitespace */
.highlight .mf { color: #0000cf; font-weight: bold } /* Literal.Number.Float */
.highlight .mh { color: #0000cf; font-weight: bold } /* Literal.Number.Hex */
.highlight .mi { color: #0000cf; font-weight: bold } /* Literal.Number.Integer */
.highlight .mo { color: #0000cf; font-weight: bold } /* Literal.Number.Oct */
.highlight .sb { color: #4e9a06 } /* Literal.String.Backtick */
.highlight .sc { color: #4e9a06 } /* Literal.String.Char */
.highlight .sd { color: #8f5902; font-style: italic } /* Literal.String.Doc */
.highlight .s2 { color: #4e9a06 } /* Literal.String.Double */
.highlight .se { color: #4e9a06 } /* Literal.String.Escape */
.highlight .sh { color: #4e9a06 } /* Literal.String.Heredoc */
.highlight .si { color: #4e9a06 } /* Literal.String.Interpol */
.highlight .sx { color: #4e9a06 } /* Literal.String.Other */
.highlight .sr { color: #4e9a06 } /* Literal.String.Regex */
.highlight .s1 { color: #4e9a06 } /* Literal.String.Single */
.highlight .ss { color: #4e9a06 } /* Literal.String.Symbol */
.highlight .bp { color: #3465a4 } /* Name.Builtin.Pseudo */
.highlight .vc { color: #000000 } /* Name.Variable.Class */
.highlight .vg { color: #000000 } /* Name.Variable.Global */
.highlight .vi { color: #000000 } /* Name.Variable.Instance */
.highlight .il { color: #0000cf; font-weight: bold } /* Literal.Number.Integer.Long */